<div class="navbar">
  <div class="navbar-inner">
  	<%= link_to "Favor Club", root_path, :class => "brand", :id => "logo" %>

    <!-- User signed in -->
  	<% if user_signed_in? %>
	    <ul class="nav pull-left">
	      <!--<li class="active"><a href="#">Link</a></li>-->
	      <!-- Adding to Aveece -->
	      <li><a href="#" id="add">Add to Aveece</a></li>

	    </ul>
	    <ul class="nav pull-right">

	      <!-- Authentification -->
		  <li><%= link_to 'My profile', :controller => "users", :action => "show", :id => current_user.id %> </li>
		      <!--<li> link_to 'My profile', edit_user_registration_path </li>-->
		 
	      <!-- "More" dropdown -->
	      <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		      More
		      <b class="caret"></b>
		    </a>
			    <ul class="dropdown-menu">
			      <li><a href="#">Link</a></li>
			      <li><a href="#">Link</a></li>
			      <li>
	                <% if user_signed_in? %>
				      	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			      	<% end %>
			      </li>
			      
			    </ul>
		  </li>

		  

      <!-- New user -->		  
	<% else %>
	    <ul class="nav pull-right">
			<li class="oauth">
			    <%= link_to "Sign up", new_user_registration_path %> |
				<%= link_to "Login", new_user_session_path %>
			</li>
		</ul>
	 <% end %>
    </ul>
  </div>
 
</div>